*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/issuestore/9/e/9e08934d811afe28fbc77aaa3c0d747b94348db9
/.idea/sonarlint/issuestore/5/1/51e1c5d383dfaa35e0e7e5873a0a99355a86880f
/.idea/compiler.xml
/.idea/sonarlint/issuestore/f/b/fb65c06ee90e4627f73c43996a0012b6db0b736b
/.idea/gradle.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/vcs.xml
